.home-page {
    width: 100vw;
    height: 100vh;
    background: white;

    .webview-container {
        margin: 40px auto;
        width: 414px;
        height: 736px;

        box-shadow: 0 0 40px 2px gray;
        box-sizing: content-box;

        .webview {
            width: 414px;
            height: 736px;
            display: inline-flex;

        }
    }
}
